.writeup
  .page-title
    = "About Me"
  .section
    .section-title
      = "Background"
    .section-text
      %p
        = "I'm a 21-year-old student currently studying"
        %i
          = "Computer Science and Game Design"
        = "at Northeastern University in Boston. I am originally from Long Island." |
  .section
    .section-title
      = "Work Experience"
    .section-text
      %p
        = "I have done two internships (one 6-month, one 4-month) as a software engineer with"
        %i
          = "Alignable,"
        = "a company local to Boston developing a social media platform for small businesses |
          to network with each other." |
      %p
        = "During my time there, I worked on both website features and internal tools, |
          learning Ruby on Rails as well as database management and SQL on the fly to create |
          correct, performant, and maintanable code." |
        -#
        = " The company and the product were growing |
          rapidly, but the engineering team was still quite small, so I was given full autonomy |
          over and full responsibility for my projects just like any other team member despite |
          technically still being an intern." |
  .section
    .section-title
      = "Other Interests"
    .section-text
      %p
        = "Hearthstone, MtG, Dota, Rainbow6, Chess, Rubik's Cubes"